<h1>Edit Record</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Show Student", @student,class:"btn btn-secondary" %> 
  <%= link_to "Delete",student_path(@student), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"},class:"btn btn-danger" %>
  <%= link_to "Back", students_path,class:"btn btn-secondary" %>
</div>
