<div class="alert alert-warning alert-dismissible" role="alert">
	<div><p style="color: green"><%= notice %></p></div>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;></span>
	</button>

	</div>